<form class="multi-line-container" [formGroup]="fields">
  <mat-list formArrayName="fieldValues">
    <mat-list-item *ngFor="let fieldValue of fieldValues.controls; let i = index">
      <mat-form-field class="multi-line-field">
        <input matInput [placeholder]="'Line ' + (i + 1)" autofocus [formControlName]="i">
        <button mat-button *ngIf="fieldValue.value" matSuffix mat-icon-button aria-label="Clear" (click)="fieldValue.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="fieldValue.hasError('alphanumeric')">
          Message must be completely alphanumeric! (letters, numbers, simple symbols)
        </mat-error>
      </mat-form-field>
    </mat-list-item>
  </mat-list>
</form>
<button mat-button mat-icon-button aria-label="Add" (click)="newValue()">
  <mat-icon>add</mat-icon>
</button>
<br/>
<joul-submitter [method]="method" [field]="fieldValue"></joul-submitter>
