<mat-drawer-container class="joul-container" autosize>
  <mat-drawer #drawer class="joul-sidenav" mode="side">
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let category of navItems">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ category.label }}
          </mat-panel-title>
          <mat-panel-description>
            {{ category.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let item of category.items" [routerLink]="[category.id, item.id]">
            {{ item.label }}
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-button (click)="clear()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-drawer>
  <mat-drawer-content class="joul-content">
    <router-outlet></router-outlet>
    <button type="button" mat-button (click)="drawer.toggle()" class="nav-toggle">
      <mat-icon>{{ drawer.opened ? 'chevron_left' : 'chevron_right' }}</mat-icon> Options
    </button>
  </mat-drawer-content>
</mat-drawer-container>
